@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background: white;
    
}
.bor{
    border: 2px red solid;
}

a{
    text-decoration: none!important;
    color: white;
}
a:hover{
    color: white;
}
/* navbar css */
.top-navbar a:hover{
    color: rgb(255, 255, 125);
}
.top-navbar .right-menu a:hover{
    color: #30B21A;
}
.top-navbar{
    background: #201F1F; 
}
.top-navbar .logo{
    padding-left: 30px;
}
.top-navbar .container{
    padding: 10px 0px;
    border-bottom: 1px solid rgb(199, 196, 196);
}
/* navbar */
.navbar{
    background: #201F1F;
}
.navbar-toggler{
    background: white;
}
.navbar-light .navbar-nav .nav-link{
    color: white;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: rgb(255, 255, 125);
    background: rgb(18, 37, 0);
}
/* carousel */
.carousel{
    position: relative;
    width: 100%;
}
.carousel-item img{
    filter: brightness(40%);
}
.carousel-caption{
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.carousel-caption .topp{
    
    font-size: 2vw;
    font-weight: 200;
    letter-spacing: 3px;
}
.carousel-caption .bottomp{
    letter-spacing: 2px;
    font-size: 2vw;
    
}

.carousel-caption h5{
    font-size: 3vw;
    font-family: 'Holtwood One SC', serif;
    font-weight: 50;
}
.bor-bot{
    border-bottom: 4px solid #FFD300;
}
.carousel-inner .btn{
    background: #FFD300;
    border: 0px;
    border-radius: 20px;
    padding: 8px 40px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
/* searchbar */
.searchbar{
    margin-top: 20px;
    background: #E5E5E5;
    padding: 50px 0px;
}
.titlehead{
    text-align: center;
}
.titlehead h5{
    font-size: 60px;
    font-weight: bold;
    color: #14213D;
}
.titlehead p{
    font-size: 30px;
    color: #14213D;
}
.searchbar .sub-btn{
    text-align: center;
    
}
.searchbar .sub-btn button{
    background: #14213D;
    border: 0px;
    text-decoration: none;
    border-radius: 20px;
    padding: 8px 40px;
    color: white;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
/* availablePosts */
.posts{
    margin-top: 50px;
    background: #E5E5E5;
    padding: 50px 0px;
}
.titlehead .bor-botm{
    border-bottom: 2px solid #14213D;
}
.availablePosts .row{
    margin-top: 80px;
}
.availablePosts .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-top: 50px;
}
  
.availablePosts .card:hover {
    box-shadow: 0 20px 30px 0 rgba(0,0,0,0.2);
}
.availablePosts .row .card p{
    color: #C2C1C1;
    font-size: 15px;
    padding: 5px;
    border-bottom: 2px solid #C2C1C1;
}
.availablePosts .findmore{
    margin-top: 80px;
    text-align: center;
}
.availablePosts .findmore a{
    background: #14213D;
    border: 0px;
    text-decoration: none;
    border-radius: 20px;
    padding: 8px 40px;
    color: white;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
/* footer */
.footer{
    
    background: #14213D;  
    color: white;
}
.footer .upperfooter{
    margin-top: 50px;
    padding: 50px 0px;
}
.footer .upperfooter .row ul{
    margin-top: 50px;
    list-style: none;
    padding-left: 0px; 
}
.footer .upperfooter .row ul li{
    padding: 5px;
    font-size: 15px;
    font-weight: 250;
}
.lowerfooter .container{
    border-top: 1px solid #E5E5E5;
    padding-top: 10px;
    font-size: 15px;
    font-weight: 250;
}